
*,
*:before,
*:after,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    background-color: rgb(201, 188, 188);
}

.page {
    margin-top: 70px;
}


body {
    font-family: 'Lora','Inter', 'Montserrat', system-ui, sans-serif;
}


h1, h3 {
    color: rgb(12, 12, 112);
    text-align: center;
    margin: 35px auto;
}

.home-image {
    display: flex;
    justify-content: center;
}

.image-container {
    align-self: center;
    justify-self: center;
}

.recipe-list {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.recipe-list li {
    display: flex;
    margin: 0 auto;
}

.dish a {
    text-decoration: none;
    position: relative;
    color: rgb(111, 149, 82);
    font-size: x-large;
}

.main button {
    background-color: white;
    font-size: 20px;
    background-color: rgb(200, 191, 191);
    color: blue;
}

button {
    padding: 0px;
}

.dish {
    background-color: beige;
}

.greenUnderline {
    font-size: calc(1rem + 5px);
    color: green;
    text-decoration: underline;
    
}

.nonDescriptionContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 30px;
}

p {
    border-bottom: 20px solid transparent;
}

.nonDescriptionContainer li:not(:last-child) {
    padding-bottom: 5px;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: calc(1rem + 10px);
    color: green;
    text-decoration: underline;
}

.menu-container {
    display: flex;
    height: 8vh;
    align-items: center;
    width: 100vw;
    padding: 0 20px;
    top: 0;
    background-color: beige;
    position: fixed;
    box-shadow: 0 2px 1px rgb(15 72 26 / 10%);   
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 100vw;
    background-color: rgb(202, 202, 181); 
}

#dish-name {
    margin: 20px 0;
}

.descriptionContainer > div {
    flex-wrap: wrap; 
}

.description {
    flex: 2;
}

.descriptionContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px;
    justify-content: center;
    gap: 2rem;
}

#dish-img {
    height: auto;
    width: 350px;
}

.ingredients > ul {
    list-style: none;
    text-align: center;
}

.steps {
    flex: 0 0 1;
    width: 50%;
}

.ingredients {
    flex: 0 0 1;
}

@media (max-width: 800px) {
    .descriptionContainer {
      flex-direction: column;
      align-items: center;
    }

    .steps {
        padding: 0 40px 20px 40px;
    }

    .nonDescriptionContainer {
        flex-direction: column;
        align-items: center;
    }

    .ingredients > ul {
        list-style: none;
        text-align: center;
    }

    /* .item:nth-child(n+2) {
        background-color: lightcoral;
      } */
}