*,
*:before,
*:after,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.main {
    background-color: rgb(201, 188, 188);
}

.main a:any-link {
    color: rgb(12, 12, 112);
    font-size: 20px;
    margin-top: 10px;
}


body {
    font-family: 'Lora','Inter', 'Montserrat', system-ui, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
}


h1, h3 {
    color: rgb(12, 12, 112);
    text-align: center;
    margin: 35px auto;
}

.descriptionContainer h3:first-of-type {
    margin-top: 0;
}

.home-image {
    display: flex;
    justify-content: center;
}


.recipe-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 10px;
}

.dish a:any-link {
    text-decoration: none;
    position: relative;
    color: rgb(111, 149, 82);
    font-size: x-large;
}

.dish {
    background-color: beige;
}

.greenUnderline {
    font-size: calc(1rem + 5px);
    color: green;
    text-decoration: underline;
    
}

.nonDescriptionContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 30px;
}

p:not(:last-child):not(:only-child) {
    border-bottom: 20px solid transparent;
}

 /* .dish *::selection {
    background-color: rgb(142, 199, 142);
    -webkit-text-fill-color: rgb(142, 199, 142);;
} */

.dish *::selection {
    -webkit-text-fill-color: black;
    background-color:rgb(142, 199, 142);
    /* color: orange; */
    }

p::first-letter {
    font-size: large;
}

.nonDescriptionContainer li:not(:last-child) {
    padding-bottom: 5px;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: calc(1rem + 10px);
    color: green;
    text-decoration: underline;
}

.menu-container {
    display: flex;
    height: clamp(50px, 5vh, 65px);
    align-items: center;
    width: 100vw;
    padding: 0 20px;
    top: 0;
    background-color: beige;
    position: fixed;
    box-shadow: 0 2px 1px rgb(15 72 26 / 10%);   
    z-index: 1;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: rgb(202, 202, 181);
}

#dish-name {
    margin: 20px 0;
}

.description {
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: column;
    height: 100%;           /* Necessary for position: sticky to work */
    /* flex: 2; */
    /* align-items: center; */
    position: sticky;
    top: 5rem;
}

.descriptionContainer {
    display: flex;
    padding: 0px 20px;
    gap: 2rem;
}

#dish-img {
    height: auto;
    width: 350px;
}

.ingredients > ul {
    list-style: none;
    text-align: center;
}

.steps {
    flex: 0 0 1;
    width: 50%;
}

.ingredients {
    flex: 0 0 1;
}

@media (max-width: 800px) and (max-height: 800px) {
    .descriptionContainer {
      flex-direction: column;
      align-items: center;
    }

    .steps {
        padding: 0 40px 20px 40px;
    }

    .nonDescriptionContainer {
        flex-direction: column;
        align-items: center;
    }

    .ingredients > ul {
        list-style: none;
        text-align: center;
    }

    footer {
        height: 40px;
    }
}